.track-info {
  position: relative;
  color: #d4c6b6;
  text-transform: uppercase;
  cursor: pointer;
  padding-left: 2px;
  margin-right: 4px;
}

.track {
  --pico-icon-checkbox: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(255, 255, 255)' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'%3E%3C/svg%3E");
}

/*
  Make it stand out when we hover the related track for
  anal retentives who want to set specific notes.
*/
.track-info:has(+ .track:hover) {
  background-color: green;
}

.track.muted {
  opacity: 0.3;
}
.track-info:has(+ .track.muted):after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 2px solid var(--pico-primary);
  height: 54%;
  width: 50%;
  transform: rotateZ(-5deg);
}

.track input[type='checkbox'] {
  width: 1.2em;
  height: 1.2em;
  margin-inline-end: 4px;
  border-radius: 0;
}

.track input[type='checkbox']:focus {
  background-color: initial;
}

.track input[type='checkbox'].onstep {
  border-color: #ffa5005d;
}

/* Mark every eigth (unticked) tick för easier sequencing */
input[type='checkbox']:nth-of-type(8n + 1).color-0 {
  background-color: #1d2829b5;
}

.track-letter {
  padding: 0 6px 2px 4px;
  color: #d4c6b630;
  text-transform: uppercase;
}

.track:hover .track-letter {
  background-color: #3f545ee0;
}
