.track-info {
  color: #d4c6b6;
  text-transform: uppercase;
  cursor: pointer;
  padding-left: 2px;
  margin-right: 4px;
}

/*
  Make it stand out when we hover the related track for
  anal retentives who want to set specific notes.
*/
.track-info:has(+ .track:hover) {
  background-color: green;
}

.track.muted {
  opacity: 0.1;
}

.track input[type='checkbox'] {
  width: 1.2em;
  height: 1.2em;
  margin-inline-end: 4px;
  border-radius: 0;
/*  border-color: #2f414a;*/
}

.track input[type='checkbox']:focus {
  background-color: initial;
}

.track input[type='checkbox'].onstep {
  border-color: #ffa5005d;
}

.track.muted input[type='checkbox'].onstep {
  background-color: black;
}
